# Core data
pandas
numpy
pyarrow

# Visualization
matplotlib
seaborn
glasbey # colorblind palettes

# Machine learning
scikit-learn
xgboost
umap-learn

# Deep learning
torch
torchvision

# Interpretability
shap

# Image processing
# opencv-python
# tifffile
