# Core data
pandas
numpy
pyarrow

# Visualization
matplotlib
seaborn

# Machine learning
scikit-learn
xgboost

# Deep learning
torch
torchvision

# Interpretability
shap

# Image processing
# opencv-python
# tifffile
